.itemContainer {
  width: calc(100% - 0.5rem);
  height: 100%;
  overflow-y: auto;
  padding-right: 0.5rem;
}

/* .itemContainer::-webkit-scrollbar {
  width: 0.25rem;
}

.itemContainer::-webkit-scrollbar-track {
  background: transparent;
}

.itemContainer::-webkit-scrollbar-thumb {
  background: theme("colors.fog");
  border-radius: 0.25rem;
} */
